  body{
      font-family: 'Rubik', sans-serif;
      background-color: #FFBFA0;
  }

  .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 150px;
  }

  h1{
      font-size: 80px;
  }

  span{
      font-size: 60px;
      padding-bottom: 20px;
  }

  button{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
     background-color: transparent;
     border-color: black; 
     border-radius: 4px;  
    }